<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiseTrack</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header class="navbar">
        <h1 class="logo">RiseTrack</h1>
        <nav>
            <a href="/login" class="btn-secondary">Login</a>
            <a href="/register" class="btn-primary">Criar Conta</a>
        </nav>
    </header>
    <!-- Hero -->
    <main class="hero">
        <div class="hero-content">
            <h2>Organize suas metas. Construa consistência.</h2>
            <p>
                Um espaço para transformar objetivos em progresso diário.
            </p>
        </div>
    </main>
    
    <!-- Benefícios -->
     <section class="features section">
        <div class="section-title reveal">
            <h2>O que o RiseTrack oferece?</h2>
            <p>Ferramentas simples para transformar disciplina em resutaldo.</p>
        </div>

        <div class="cards">
            <div class="card reveal">
                <h3>Crie Metas</h3>
                <p>Defina objetivos claros e acompanhe cada etapa da sua jornada.</p>
        </div>

            <div class="card reveal">
                <h3>Construa Hábitos</h3>
                <p>Transforme pequenas ações em consistência diária e progresso real.</p>
            </div>

            <div class="card reveal">
                <h3>Acompanhe sua Evolução</h3>
                <p>Visualize seu crescimento e mantenha sua motivação em alta.</p>
            </div>
        </div>
     </section>

     <!-- Objetivo -->
      <section class="about section">
        <div class="about-content reveal">
            <div class="about-text">
                <h2>Nosso Objetivo</h2>
                <p>
                    O RiseTrack foi criado para ajudar pessoas a saírem da intenção e entrarem em ação.
                    Aqui, metas deixam de ser só ideias e se tornam progresso real através da constância.
                </p>
        </div>

        <div class="about-image">
            <img src="/images/workout.png" alt="pessoa treinando"/>
        </div>
        </div>
      </section>

        <!-- CTA Final-->

        <section class="cta section">
            <div class="cta-content reveal">
                <h2>Comece hoje sua jornada de evolução</h2>
                <p>Crie sua conta e dê o primeiro passo rumo à sua melhor versão.</p>
                <a href="/register" class="btn-primary">Criar Conta</a>
            </div>
        </section>

    <script src="/js/script.js"></script>
</body>
</html>