<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiseTrack</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header class="navbar">
        <h1 class="logo">RiseTrack</h1>
        <nav>
            <a href="/views/login.html" class="btn-secondary">Login</a>
            <a href="/views/register.html" class="btn-primary">Criar Conta</a>
        </nav>
    </header>

    <main class="hero">
        <div class="hero-content">
            <h2>Organize suas metas. Construa consistência.</h2>
            <p>
                Um espaço para transformar objetivos em progresso diário.
            </p>
        </div>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>